body {
  padding: 0px;
  margin: 0;
}
.back {
  width: 100vw;
  height: 100px;
  margin: 0 auto;
  /**background-color: rgb(30, 62, 90);**/
  background-color: #696969;
}

.logo {
  color: aliceblue;
  font-size: 50px;
  padding-left: 20px;
  float: left;
  padding-top: 10px;
}
.menu {
  color: aliceblue;
  text-align: right;
  word-spacing: 25px;
  margin: 0px;
  font-size: 25px;
  padding-right: 20px;
  padding-top: 30px;
}
.menu li {
  display: inline-block;
}
a:visited {
  color: aliceblue;
}

.main {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;

  /**background-color: #505559;**/
}
.about {
  width: 100vw;
  height: 100vh;
  color: #333333;
  text-align: left;
  font-size: 30px;
  background-image: url(https://images.pexels.com/photos/290660/pexels-photo-290660.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}
.spisok {
  list-style-type: none;
}
.about-us {
  background-color: #182428;
  width: 100vw;
  height: 100vh;
  color: whitesmoke;
  font-size: 30px;
}
.about-us p {
  font-size: 20px;
}
.repertuar {
  background-color: #182428;
  width: 100vw;
  height: 100vh;
  color: whitesmoke;
  font-size: 30px;
}
.media {
  background-color: #182428;
  width: 100vw;
  height: 100vh;
  color: whitesmoke;
  font-size: 30px;
}
