body {
  padding: 0px;
  margin: 0;
}
/*Header*/
.back {
  width: 100vw;
  height: 100px;
  margin: 0 auto;
  background-color: #040506;
  position: fixed;
}

.logo {
  color: aliceblue;
  font-size: 45px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  float: left;
  padding-top: 10px;
}
.squad-logo {
  background-color: #a79258;
  position: absolute;
  top: 10px;
  left: 10px;
}
.menu {
  color: #a79258;
  text-align: right;
  word-spacing: 25px;
  margin: 0px;
  font-size: 25px;
  padding-right: 20px;
  padding-top: 30px;
}
.menu li {
  display: inline-block;
}
.nav a {
  border-style: solid;
  margin: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
a:link {
  color: #a79258;
  text-decoration: none;
}
a:visited {
  color: #a79258;
  text-decoration: none;
}
.nav {
  padding-right: 10px;
}
/********************Main*********************/
.main {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}
.about {
  width: 100vw;
  height: 100vh;
  color: #ffffe0;
  text-align: left;
  font-size: 30px;
  background-color: #15191d;
}
.order {
  color: #a79258;
  background: #040506;
  border: solid;
  padding: 10px 25px;
  cursor: pointer;
}
.order:hover {
  background: rgba(5, 0.2255, 255, 25);
}
.main-photo {
  width: 50%;
  height: 80%;
  float: right;
  position: fixed;
  top: 110px;
  right: 20px;
  /*padding-right: 20px;*/
}
section h1 {
  margin: 0;
  padding-top: 100px;
}

.about-us {
  background-color: #15191d;
  width: 100vw;
  height: 100vh;
  color: whitesmoke;
  font-size: 30px;
}
.about-us p {
  font-size: 20px;
}
.repertuar {
  background-color: #15191d;
  width: 100vw;
  height: 100vh;
  color: whitesmoke;
  font-size: 30px;
}
.media {
  background-color: #15191d;
  width: 100vw;
  height: 100vh;
  color: whitesmoke;
  font-size: 30px;
}
